# Python
__pycache__/
*.py[cod]
*$py.class

# Окружения
.venv/

# Переменные окружения
.env

# IDE
.idea/

# Jupyter
.ipynb_checkpoints/
jupyter_config.py

# Переменные среды
.env

# База данных
instance/

# Машинное обучение
models/
catboost_info/

# Экспорты чатов
chat_exports/

# Данные
data/