<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ icon_path }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:image" content="{{ icon_path }}">
    <meta name="theme-color" content="#6491F0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ root_css_path }}">
    <link rel="stylesheet" href="{{ login_css_path }}">
    <script type="text/javascript" src="{{ login_faq_path }}"></script>
</head>
<body>
<img class="background" src="{{ background_path }}" alt="Фон">
<section class="container">
    <div class="login-container">
        <div class="form-container">
            <h1 id="welcome_header" class="secolor noselect" draggable="false">{{ header_text }}</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification">
                {{ messages[0] | safe }}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/login" method="POST" autocomplete="off">
                <input type="text" id="username" name="username" placeholder="{{ username_placeholder_text }}" required/>
                <input type="password" id="password" name="password" placeholder="{{ password_placeholder_text }}" required/>
                <div class="checkbox-wrapper">
                    <div class="check">
                        <input id="check-remember" type="checkbox" name="remember">
                        <label for="check-remember"></label>
                    </div>
                    <span class="checkbox-label noselect">{{ remember_me_text }}</span>
                </div>
                <button type="submit" class="secolor noselect">{{ submit_login_button_text }}</button>
                <div class="login_faq">
                    <a class="url animate noselect" id="faq_link" href="#">{{ login_faq | safe }}</a>
                    <p id="faq_text" class="faq-hidden">{{ login_faq_answer | safe }}</p>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>