<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ main_css_path }}">
    <link rel="stylesheet" href="{{ login_css_path }}">
</head>
<body>
<img class="background" src="{{ background_path }}" alt="Фон">
<section class="container">
    <div class="login-container">
        <div class="form-container">
            <h1 id="welcome_header" class="opacity" draggable="false">{{ header_text }}</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/login" method="POST" autocomplete="off">
                <input type="text" id="username" name="username" placeholder="{{ username_placeholder_text }}" required/>
                <input type="password" id="password" name="password" placeholder="{{ password_placeholder_text }}" required/>
                <div class="checkbox-wrapper">
                    <div class="check">
                        <input id="check-remember" type="checkbox" name="remember">
                        <label for="check-remember"></label>
                    </div>
                    <span class="checkbox-label">{{ remember_me_text }}</span>
                </div>
                <button type="submit" class="opacity">{{ submit_login_button_text }}</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>