<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ icon_path }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:image" content="{{ icon_path }}">
    <meta name="theme-color" content="#6491F0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ root_css_path }}">
    <link rel="stylesheet" href="{{ main_css_path }}">
    <link rel="stylesheet" href="{{ settings_css_path }}">
    <script type="text/javascript" src="{{ hamburger_js_path }}"></script>
</head>
<body>
<img class="background" src="{{ background_path }}" alt="Фон">
<header>
    <nav>
        <a class="logo animate" href="/">{{ title }}</a>
        <div class="hamburger noselect">
            ☰
        </div>
        <div class="main-menu">
            <div class="left-menu">
                <a class="animate" href="{{ github_url }}" target="_blank">{{ about_text }}</a>
                <a class="animate" href="/spam">{{ detected_spam_text }}</a>
                <a class="animate" href="/muted">{{ muted_users_text }}</a>
                <a class="animate" href="/settings">{{ settings_text }}</a>
            </div>
            <div class="right-menu">
                <a class="animate" href="/logout">{{ logout_text }}</a>
            </div>
        </div>
        <div class="dropdown-menu">
            <a class="animate" href="{{ github_url }}">{{ about_text }}</a>
            <a class="animate" href="/spam">{{ detected_spam_text }}</a>
            <a class="animate" href="/muted">{{ muted_users_text }}</a>
            <a class="animate" href="/settings">{{ settings_text }}</a>
            <a class="animate" href="/logout">{{ logout_text }}</a>
        </div>
    </nav>
</header>

<div class="container">
    <h1 id="table_header">{{ settings_text }}</h1>
    <form method="POST" action="/settings">
        <form method="POST" action="/settings">
            {% for field in fields %}
            {% if field.type == 'checkbox' %}
            <div class="form-group checkbox-group checkbox-wrapper">
                <label for="{{ field.name }}">{{ field.name }}</label>
                <input {% if not can_configure %}disabled{% endif %} type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="true" {% if field.value %}checked{% endif %}>
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.name }}</label>
                <input {% if not can_configure %}disabled{% endif %} class="text_input" type="{{ field.type }}" {% if field.type == "number" %}step="any"{% endif %} id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}">
            </div>
            {% endif %}
            {% endfor %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification">
                {{ messages[0] | safe }}
            </div>
            {% endif %}
            {% endwith %}
            <button {% if not can_configure %}disabled{% endif %} class="save_config_button secolor noselect" role="button" type="submit">Сохранить</button>
        </form>
</div>
</body>
</html>