form {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: fit-content;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper input[type=checkbox] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    .checkbox-wrapper input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    .checkbox-wrapper input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    .checkbox-wrapper input[type=checkbox]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    .checkbox-wrapper input[type=checkbox]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    .checkbox-wrapper input[type=checkbox]:disabled + label {
        cursor: not-allowed;
    }

    .checkbox-wrapper input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    .checkbox-wrapper input[type=checkbox]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch) {
        width: 21px;
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch):after {
        opacity: var(--o, 0);
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
        --o: 1;
    }

    .checkbox-wrapper input[type=checkbox] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }
}

.checkbox-wrapper * {
    box-sizing: inherit;
}

.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
    box-sizing: inherit;
}

.text_input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 16px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

    /* Плавный переход */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.text_input:disabled {
    background-color: #F6F8FF;
    cursor: not-allowed;
}

.text_input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.form-group {
    display: grid;
    align-items: stretch;
    grid-template-columns: 18rem 18rem;
    margin-bottom: 0.5rem;
}

.save_config_button {
    background-color: rgba(155, 155, 155, 0.1);
    color: var(--second_color);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 16pt;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.save_config_button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.save_config_button:disabled,
.save_config_button:disabled:hover {
    cursor: not-allowed; /* Изменим курсор */
    box-shadow: none; /* Уберем эффект тени */
    transform: none; /* Уберем эффект масштабирования */
}


.notification {
    margin-top: 1.5rem;
    width: 34rem;
    text-wrap: balance;
    text-align: center;
}


@media (max-width: 1050px) {
    form {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
}

@media (max-width: 701px) {
    header {
        margin: 1rem;
    }

    .container {
        margin: 1rem;
    }

    .form-group {
        grid-template-columns: 15rem 18rem;
    }
}

@media (max-width: 576px) {
    .form-group {
        grid-template-columns: 12rem 18rem;
    }
}

@media (max-width: 526px) {
    .form-group {
        grid-template-columns: 9rem 18rem;
    }
}

@media (max-width: 471px) {
    .form-group {
        grid-template-columns: 9rem 12rem;
    }
}

@media (max-width: 411px) {
    header > nav > .logo {
        font-size: 16pt;
    }

    #table_header {
        font-size: 16pt;
    }
}

@media (max-width: 381px) {
    header > nav > .logo {
        font-size: 14pt;
    }

    #table_header {
        font-size: 14pt;
    }

    .form-group {
        grid-template-columns: 9rem 9rem;
    }
}